<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inbox" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="openContactDetailsModal()">{{ id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="triggerFileInput()">
        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
        <ion-icon slot="start" name="attach" style="zoom: 1.3;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #chatContainer class="contenedor-mensajes">
    <div *ngFor="let mensaje of messages">
      <div [ngClass]="{'mensaje-enviado': mensaje.type === 'sent', 'mensaje-recibido': mensaje.type === 'received'}" [innerHTML]="mensaje.message"></div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item style="border-radius: 15px;">
      <ion-textarea placeholder="Escribe un mensaje..." autoGrow="true" [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        <ion-icon slot="start" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
